<html>
    <style>
        h1{
            text-align: center;
          }
    </style>
    <head>
        {% include "bootstrap.html" %}
        <title>History!</title>
    </head>
    <body>
        {% include "navbar.html" %}
        <h1>CINS 465: Assignment 4 by Kurt Voigtritter</h1>
        <div>
        <p>Though the earliest origins are uncertain, it is believed that
            the predecessor of modern chess likely originated in what is today India
            before the 6th century AD. It was then adopted by the Persians, and
            when the Arabs conquered Persia, it was then brought to southern Europe.
            The game as we know it today began roughly in Europe during the 15th century.
        </p>
        </div>
    </body>
</html>